@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
.product-list {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease-in-out; /* Transition for smooth fade */
}

.product-list.show {
  opacity: 1; /* Visible state after transition */
}

.product-item {
  opacity: 0; /* Initially hidden for individual items */
  transition: opacity 0.1s ease-in-out; /* Transition for smooth fade */
}

.product-item.show {
  opacity: 1; /* Visible state after transition */
}
